/* import google font Montserrat
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.loginPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: blueviolet;
  width: 100vw; 
  padding: 0 0.6rem;
}
.logon-container{
  max-width:410px ;
  min-width: 300px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background: #fff;
  box-shadow:  0 10px 20px rgb( 0 , 0 , 0 , 0.1);

}
.logon-container .form-title{
  text-align: center;
  font-size: 1.37rem;
  font-weight: 600;
  margin-bottom: 1.87rem;

}

.logon-container .social-login{
  display: flex;
  gap: 1.31rem;

}
.social-login .social-button{
  display: flex;
  width: 100%;
  gap: 0.81rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 0;
  align-items: center;
  justify-content: center;
  border-radius:  0.32rem;
  background-color: #F9F8FF;
  border: 1px solid #D5CBFF;
  transition: 0.3s ease;
}

.social-login .social-button:hover{
  background: #f1eff9;
  border-color: #5f41e4;
}
.social-login .social-button .social-icon{
  width: 23px;

}

.logon-container .seprator{
  margin: 1.5rem 0;
  text-align: center;
  position: relative;
}

.logon-container .seprator span{
  position: relative;
  z-index: 1;
  background:#fff;
  padding: 0 0.9rem;
  font-size: 1.06rem;
  font-weight: 500;

}
.logon-container .seprator::after{
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #bfb3f2;
}
.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;

}

.login-form .input-wrapper .input-field{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.06rem;
  border-radius: 0.31rem;
  border: 1px solid #bfb3f2;
  padding: 0 1.25rem 0 3.12rem;
  transition: 0.2s ease;
  
}
.login-form .input-wrapper .input-field:focus{
  border-color: #5f41e4;
}
.login-form .input-wrapper .input-field::placeholder{
  color: #a395e0;
}
.login-form .input-wrapper i {
  color: #a395e0;
  position: absolute;
  top: 50%;
  
  transform: translateY(-50%);
}

.login-form .input-wrapper i:not(.eye-icon) {

  left: 0.9rem;
  pointer-events: none;
}

.login-form .input-wrapper .input-field:focus ~ i:not(.eye-icon){
  color: #5f41e4;
}
.login-form .input-wrapper  i.eye-icon{
  font-size: 1.25rem;
  cursor: pointer;
  right: 0.9rem;
  display: none;
}
.login-form .input-wrapper .input-field:valid ~ i.eye-icon{
  display: block;
}
.login-form  .forgot-pass-link{
  display: block;
  width: fit-content;
  margin-top: -0.46rem;
}
.login-form  .login-button{
  width: 100%;
  height: 54px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;

  background: #5f41e4;
  margin-top: 2.19rem;
  border-radius: 0.31rem;
  transition: 0.2s ease;
}
.logon-container .login-button:hover{
  background: #4320df;
}
.logon-container .sigup-text{
  text-align: center;
  font-weight: 500;
  margin: 1.75rem 0 0.31rem;

}
.logon-container a{
  color: #5f41e4;
  font-weight: 500;
  text-decoration: none;
}

.logon-container a:hover{
  text-decoration: underline;
} */


/* login.module.css */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}