.shop-list {
  display:flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.shop-card {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 16px;
  width: 280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin: 16px auto;
  border-radius: 8px;
  border: 1px solid #aaa;  
}